Checks: >
  -*,
  bugprone-reserved-identifier,
  bugprone-macro-parentheses,
  bugprone-macro-repeated-side-effects,
  bugprone-suspicious-include,
  cppcoreguidelines-avoid-goto,
  cppcoreguidelines-avoid-non-const-global-variables,
  cppcoreguidelines-interfaces-global-init,
  cppcoreguidelines-macro-usage,
  cppcoreguidelines-no-malloc,
  cppcoreguidelines-noexcept-destructor,
  cppcoreguidelines-noexcept-move-operations,
  cppcoreguidelines-noexcept-swap,
  cppcoreguidelines-pro-type-cstyle-cast,
  cppcoreguidelines-pro-type-member-init,
  cppcoreguidelines-prefer-member-initializer,
  google-build-using-namespace,
  misc-const-correctness,
  misc-definitions-in-headers,
  misc-header-include-cycle,
  misc-misplaced-const,
  misc-redundant-expression,
  misc-unused-using-decls,
  modernize-return-braced-init-list,
  modernize-make-unique,
  modernize-use-default-member-init,
  modernize-use-equals-default,
  modernize-use-equals-delete,
  modernize-use-nodiscard,
  modernize-use-noexcept,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-using,
  performance-for-range-copy,
  performance-implicit-conversion-in-loop,
  performance-move-const-arg,
  performance-unnecessary-copy-initialization,
  performance-unnecessary-value-param,
  readability-braces-around-statements,
  readability-const-return-type,
  readability-duplicate-include,
  readability-identifier-naming,
  readability-inconsistent-declaration-parameter-name,
  readability-isolate-declaration,
  readability-magic-numbers,
  readability-make-member-function-const,
  readability-named-parameter,
  readability-redundant-casting,
  readability-redundant-control-flow,
  readability-redundant-declaration,
  readability-redundant-function-ptr-dereference,
  readability-redundant-inline-specifier,
  readability-redundant-member-init,
  readability-redundant-preprocessor,
  readability-redundant-smartptr-get,
  readability-redundant-string-cstr,
  readability-redundant-string-init,
  readability-simplify-boolean-expr,
  readability-static-definition-in-anonymous-namespace,
  readability-uppercase-literal-suffix

CheckOptions:
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.StructCase: CamelCase
  readability-identifier-naming.EnumCase: CamelCase
  readability-identifier-naming.EnumConstantCase: CamelCase
  readability-identifier-naming.ClassConstantCase: CamelCase
  readability-identifier-naming.ConstexprVariableCase: CamelCase
  readability-identifier-naming.FunctionCase: camelBack
  readability-identifier-naming.GlobalConstantCase: CamelCase
  readability-identifier-naming.GlobalVariableCase: camelBack
  readability-identifier-naming.GlobalVariablePrefix: g_
  readability-identifier-naming.MethodCase: camelBack
  readability-identifier-naming.ParameterCase: camelBack
  readability-identifier-naming.ParameterPrefix: _
  readability-identifier-naming.LocalVariableCase: camelBack
  readability-identifier-naming.PrivateMemberCase: camelBack
  readability-identifier-naming.PrivateMemberPrefix: m_
  cppcoreguidelines-pro-type-member-init.UseAssignment: false
  misc-const-correctness.AnalyzeReferences: true
  misc-const-correctness.AnalyzeValues: true
  misc-const-correctness.TransformPointersAsValues: true
  misc-const-correctness.TransformReferences: true
  misc-const-correctness.TransformValues: true
  misc-const-correctness.WarnPointersAsValues: true
  modernize-use-default-member-init.UseAssignment: false
  modernize-use-nodiscard.ReplacementString: "[[nodiscard]]"

WarningsAsErrors: ""
HeaderFilterRegex: '.*remote_control[\\/](include|src)[\\/]'
FormatStyle: file
